body{
    background-color: aliceblue;
    background-color: darkslategrey;
}

.box{
    text-align: center;
    width: 250px;
    line-height: 250px;
}

.black{
    background-color: black;
    color: white;
}
.darkslategrey{
    background-color: darkslategrey;
    color: white;
}
